.App {
  text-align: center;
  display: flex;
}

.table-div {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}